<template>
  <div class="flex items-center justify-center gap-2 px-2">
    <Switch :modelValue="props.selected" @update:modelValue="emit('select')" />
    <div
      class="rounded px-2 py-1 cursor-pointer inline-block"
      :class="{
        'text-white bg-sky-600': props.selected && !props.list.manual,
        'bg-sky-400': !props.selected && !props.list.manual,
        'text-white bg-cyan-600': props.selected && props.list.manual,
        'bg-cyan-400': !props.selected && props.list.manual,
      }"
    >
      {{ props.list.name }}
    </div>
    <div class="flex-grow text-sm">{{ props.list.list.length }} words</div>
    <PhTrashFill
      class="text-red-500 shrink-0"
      @click="emit('remove')"
      v-if="props.list.manual"
    />
    <FaSolidEye class="shrink-0" @click="viewList = true" />
    <Modal v-model="viewList">
      <div class="pt-6 text-left">
        <p class="font-bold pb-4">List of words</p>
        <div
          v-if="currentSelection.length > 0"
          class="bg-gradient-to-r from-cyan-100 to-sky-100 p-4 mb-4"
        >
          <p class="mb-2">Select the list to add to</p>
          <div class="flex flex-wrap gap-2">
            <div
              v-for="l of props.options.lists"
              class="rounded px-2 py-1 cursor-pointer inline-block"
              :class="{
                'text-white bg-cyan-600': currentSelect == l,
                'bg-cyan-400': currentSelect != l,
              }"
              @click="currentSelect = l"
            >
              {{ l.name }}
            </div>
          </div>
          <div
            class="rounded bg-sky-700 hover:bg-sky-500 text-white px-3 py-2 inline-block mt-4"
            @click="addToList"
            v-if="currentSelect"
          >
            Add to list {{ currentSelect.name }}
          </div>
        </div>
        <div class="grid grid-cols-3 gap-2">
          <div
            v-for="w of list.list"
            class="rounded py-2 flex items-center justify-center"
            :class="{
              'bg-sky-500 text-white':
                currentSelection.find((s) => s.id == w.id) != null,
              'bg-sky-100': currentSelection.find((s) => s.id == w.id) == null,
              'border-2 border-sky-800':
                currentListSelectedChars.find((s) => s.id == w.id) != null,
            }"
            @touchstart="startSelect($event, w)"
            @touchend="endSelect($event, w)"
          >
            <div>
              <div class="text-xl">
                {{ w.hanzi }}
              </div>
              <div class="text-sm">
                {{ w.pinyin }}
              </div>
            </div>
          </div>
        </div>
        <p v-if="list.list.length === 0">
          To add characters to this list, select characters from other list and
          click add to list.
        </p>
      </div>
    </Modal>
  </div>
</template>
<script setup>
import FaSolidEye from "~icons/fa-solid/eye";
import PhTrashFill from "~icons/ph/trash-fill";
const viewList = ref(false);
const props = defineProps({
  id: String,
  list: Object,
  selected: Boolean,
  options: Object,
});
const emit = defineEmits(["select", "select-hanzi", "remove", "add-to-list"]);

const currentSelection = ref([]);
const currentSelect = ref();
const startEvent = ref();
const currentClicked = ref(),
  startTime = ref();
const startSelect = (ev, w) => {
  currentClicked.value = w;
  startEvent.value = ev;
  startTime.value = new Date().getTime();
};

const currentListSelectedChars = computed(() => {
  let lst = props.options.lists.find((l) => l.id === currentSelect.value?.id);
  if (lst) {
    return lst.list;
  }
  return [];
});

const endSelect = (ev, w) => {
  if (!currentClicked.value || currentClicked.value.id != w.id) return;
  if (
    Math.abs(
      startEvent.value.touches[0].clientX -
        ev.changedTouches[ev.changedTouches.length - 1].clientX
    ) > 50
  )
    return;
  if (
    Math.abs(
      startEvent.value.touches[0].clientY -
        ev.changedTouches[ev.changedTouches.length - 1].clientY
    ) > 50
  )
    return;
  if (
    new Date().getTime() - startTime.value < 250 &&
    currentSelection.value.length === 0
  ) {
    emit("select-hanzi", w);
    viewList.value = false;
  } else {
    let idx = currentSelection.value.findIndex((s) => s.id == w.id);
    if (idx > -1) {
      currentSelection.value.splice(idx, 1);
    } else {
      currentSelection.value.push(w);
    }
  }
  currentClicked.value = null;
};

const addToList = () => {
  emit("add-to-list", {
    id: currentSelect.value.id,
    list: currentSelection.value,
  });
  viewList.value = false;
};
</script>
