<template>
  <div>
    <div class="text-sky-900 mb-1" v-if="props.above">
      {{ props.placeholder + (props.required ? " *" : "") }}
    </div>
    <div class="flex items-stretch justify-center w-full text-sm">
      <div
        class="flex items-center justify-center flex-grow rounded bg-white text-sky-900 text-boring focus-within:border-sky-900"
        :class="{
          'border-r-0 rounded-r-none': props.button,
          'border-2 border-sun': !hasError,
          'border-2 border-red-600': hasError,
        }"
      >
        <input
          v-if="!props.textarea"
          :type="props.type"
          :value="props.modelValue"
          @input="update"
          :disabled="props.loading"
          class="block py-2 flex-grow z-20 focus:outline-0 text-left px-2"
          :placeholder="
            props.above
              ? ''
              : props.placeholder
              ? props.placeholder + (props.required ? ' *' : '')
              : ''
          "
          :required="props.required"
          size="8"
        />
        <textarea
          v-else
          :type="props.type"
          :value="props.modelValue"
          @input="update"
          :disabled="props.loading"
          class="block py-2 flex-grow z-20 focus:outline-0 text-left px-2"
          :placeholder="
            props.above ? '' : props.placeholder + (props.required ? ' *' : '')
          "
          :required="props.required"
          rows="4"
        />
      </div>
    </div>
    <div
      v-if="props.message || hasError"
      class="text-boring text-left mt-1 text-sm"
    >
      <div
        :class="{
          'rounded px-4 py-2 border-green-400 border-2 bg-white text-sky-900':
            props.messageType === 'success',
          'rounded px-2 pb-1 text-left text-red-500':
            props.messageType === 'error' || hasError,
        }"
      >
        {{ props.message || hasError }}
      </div>
    </div>
  </div>
</template>
<script setup>
import IconSend from "~icons/majesticons/send-line";
const props = defineProps({
  modelValue: String,
  type: String,
  icon: String,
  button: Boolean,
  buttonText: String,
  placeholder: String,
  message: String,
  loading: Boolean,
  required: Boolean,
  textarea: Boolean,
  above: Boolean,
  messageType: {
    type: String,
    default: "error", // success
  },
});

const emailRegExp =
  /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
const touched = ref(false);

const emit = defineEmits(["update:modelValue", "button-click"]);
const update = (val) => {
  emit("update:modelValue", val.target.value);
  touched.value = true;
};

const hasError = computed(() => {
  if (
    touched.value &&
    props.required &&
    (!props.modelValue || props.modelValue.trim() === "")
  ) {
    return "Champ obligatoire";
  }
  // test email
  if (
    touched.value &&
    props.type === "email" &&
    !emailRegExp.test(props.modelValue)
  ) {
    return "Email non valide";
  }
  return false;
});
const send = () => {
  emit("button-click");
};
</script>
