<template>
  <teleport to="body">
    <div
      v-show="modelValue"
      tabindex="-1"
      class="fixed top-0 left-0 right-0 z-50 w-full p-4 overflow-x-hidden overflow-y-auto h-full duration-500 bg-gray-900 bg-opacity-50"
      :class="{
        'opacity-0': !modelValue,
        'opacity-1': modelValue,
      }"
    >
      <div
        class="absolute w-full h-full bg-sky-100 opacity-40 top-0 left-0"
      ></div>
      <div class="relative w-full h-full flex items-center justify-center">
        <div class="relative w-full max-w-md max-h-full">
          <div class="absolute z-10 duration-500 top-2 right-2">
            <div class="text-xl leading-3 text-sky-900" @click="closeModal">
              <IconClose />
            </div>
          </div>
          <!-- Modal content -->
          <div
            class="relative bg-white shadow p-4 md:p-10 text-center max-h-[95vh] overflow-auto"
          >
            <slot></slot>
          </div>
        </div>
      </div>
    </div>
  </teleport>
</template>
<script setup>
import IconClose from "~icons/iconamoon/close";

const props = defineProps({
  modelValue: Boolean,
});

const emit = defineEmits(["update:modelValue"]);
const closeModal = (e) => {
  emit("update:modelValue", false);
  e.stopPropagation();
  e.preventDefault();
};
</script>
