<template>
  <div
    class="px-3 py-3 cursor-pointer duration-200 transition-all"
    @click="select"
    :class="{
      'text-white text-white':
        ((props.modelValue || props.button) && !props.invert) ||
        (!props.modelValue && !props.button && props.invert),
      'text-sky-300':
        ((props.modelValue || props.button) && props.invert) ||
        (!props.modelValue && !props.button && !props.invert),
    }"
  >
    <slot></slot>
  </div>
</template>
<script setup>
const props = defineProps({
  modelValue: Boolean,
  button: Boolean,
  invert: Boolean,
});

const emit = defineEmits(["update:modelValue"]);
const select = () => {
  emit("update:modelValue", !props.modelValue);
};
</script>
