<template>
  <div class="flex items-center justify-center gap-2">
    <div class="shrink-0 text-center min-w-16">
      <div class="font-bold text-lg">
        <span
          v-for="c of props.word.hanzi"
          :class="{
            'blur-sm': !options.showChar && c === props.currentChar,
          }"
          >{{ c }}</span
        >
      </div>
      <div v-if="props.pinyin" class="text-xs">
        &nbsp;{{ props.word.pinyin }}
      </div>
    </div>
    <div class="flex-grow text-left line-clamp-2 leading-3">
      <span class="text-sm">{{ props.word.translations.join(", ") }}</span>
    </div>
    <div
      class="rounded px-1 py-0 text-xs bg-sky-600 text-sky-100 cursor-pointer shrink-0 w-4"
    >
      {{ props.word?.level }}
    </div>
  </div>
</template>
<script setup>
const props = defineProps({
  word: Object,
  options: Object,
  currentChar: String,
  pinyin: Boolean,
});
</script>
