<template>
  <div @touchstart="(e) => startSwipe(e)" @touchend="(e) => handleSwipe(e)">
    <slot></slot>
  </div>
</template>

<script setup>
const swipe = ref();
const emit = defineEmits([
  "swipe-left",
  "swipe-right",
  "swipe-down",
  "swipe-up",
]);
const startSwipe = (e) => {
  swipe.value = new Swipe(e);
};
const handleSwipe = (e) => {
  if (!swipe.value) {
    return;
  }

  swipe.value.setEndEvent(e);
  if (swipe.value.isSwipeRight()) {
    emit("swipe-right", { start: swipe.value.startEvent, end: e });
  }
  if (swipe.value.isSwipeLeft()) {
    emit("swipe-left", { start: swipe.value.startEvent, end: e });
  }
  if (swipe.value.isSwipeDown()) {
    emit("swipe-down", { start: swipe.value.startEvent, end: e });
  }
  if (swipe.value.isSwipeUp()) {
    emit("swipe-up", { start: swipe.value.startEvent, end: e });
  }

  swipe.value = null;
};

class Swipe {
  static SWIPE_THRESHOLD = 50; // Minumum difference in pixels at which a swipe gesture is detected

  static SWIPE_LEFT = 1;
  static SWIPE_RIGHT = 2;
  static SWIPE_UP = 3;
  static SWIPE_DOWN = 4;

  constructor(startEvent, endEvent) {
    this.startEvent = startEvent;
    this.endEvent = endEvent || null;
  }

  isSwipeLeft() {
    return this.getSwipeDirection() == Swipe.SWIPE_LEFT;
  }

  isSwipeRight() {
    return this.getSwipeDirection() == Swipe.SWIPE_RIGHT;
  }

  isSwipeUp() {
    return this.getSwipeDirection() == Swipe.SWIPE_UP;
  }

  isSwipeDown() {
    return this.getSwipeDirection() == Swipe.SWIPE_DOWN;
  }

  getSwipeDirection() {
    let start = this.startEvent.changedTouches[0];
    let end = this.endEvent.changedTouches[0];

    if (!start || !end) {
      return null;
    }

    let horizontalDifference = start.screenX - end.screenX;
    let verticalDifference = start.screenY - end.screenY;

    // Horizontal difference dominates
    if (Math.abs(horizontalDifference) > Math.abs(verticalDifference)) {
      if (horizontalDifference >= Swipe.SWIPE_THRESHOLD) {
        return Swipe.SWIPE_LEFT;
      } else if (horizontalDifference <= -Swipe.SWIPE_THRESHOLD) {
        return Swipe.SWIPE_RIGHT;
      }

      // Verical or no difference dominates
    } else {
      if (verticalDifference >= Swipe.SWIPE_THRESHOLD) {
        return Swipe.SWIPE_UP;
      } else if (verticalDifference <= -Swipe.SWIPE_THRESHOLD) {
        return Swipe.SWIPE_DOWN;
      }
    }

    return null;
  }

  setEndEvent(endEvent) {
    this.endEvent = endEvent;
  }
}
</script>
