<template>
  <div class="max-w-screen-md h-[calc(100dvh)] flex flex-col m-auto bg-white">
    <Swipe
      class="bg-white m-auto pb-6 flex items-start justify-center w-full flex-grow overflow-auto"
      @swipe-left="onSwipeLeft"
      @swipe-right="onSwipeRight"
      @click="openSettings = false"
    >
      <div class="text-center w-full">
        <div
          class="bg-gradient-to-r from-cyan-100 to-blue-100 py-2 shadow-lg flex z-20 relative justify-center mb-6 pt-6"
        >
          <div class="shrink-0 w-6 mx-3"></div>
          <div class="flex-grow flex items-center justify-center gap-2">
            <div
              v-for="(w, i) of wordParts"
              :class="{ 'text-sky-600': currentPos === i }"
              class="cursor-pointer"
              @click="currentPos = i"
            >
              <div
                class="text-3xl transition-all duration-300"
                :class="{ 'blur-sm': !options.showChar && currentPos === i }"
              >
                {{ w.hanzi }}
              </div>
              <div class="text-xl font-bold">
                {{ w.pinyin }}
              </div>
            </div>
          </div>
          <div class="shrink-0 flex items-center justify-center gap-2">
            <OptionToggle v-model="openAdd" button>
              <CiListAdd class="w-6 h-6 text-sky-600" />
            </OptionToggle>
            <Modal v-model="openAdd">
              <p class="text-left pt-4">
                Select the list to which you want to add this hanzi
              </p>
              <div class="pt-2">
                <div
                  class="p-2 flex items-center justify-center"
                  :class="{
                    'bg-sky-400 bg-opacity-20': i % 2 === 1,
                    'bg-sky-400 bg-opacity-10': i % 2 === 0,
                  }"
                  v-for="(l, i) of options.lists"
                  :key="l.id"
                >
                  <div class="flex-grow text-left">
                    {{ l.name }}
                  </div>
                  <div
                    class="shrink-0"
                    v-if="l.list.find((t) => t.id === currentWord.id) == null"
                  >
                    <ZondiconsAddOutline
                      class="w-6 h-6 text-sky-600"
                      @click="addCurrentToList(l)"
                    />
                  </div>
                  <div v-else class="text-sm text-green-500 shrink-0 w-12">
                    Already in list
                  </div>
                </div>
              </div>
            </Modal>
          </div>
        </div>
        <div
          class="bg-gradient-to-r from-cyan-100 to-blue-100 rounded-2xl overflow-hidden max-w-[450px] aspect-square m-auto"
        >
          <div
            class="quiz-container bg-gradient-to-r from-white to-white m-2 rounded-xl overflow-hidden"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              ref="quiz"
              class="duration-200 transition-all bg-gradient-to-r w-full max-w-[450px] aspect-square"
              :class="{
                'bg-pink-200 bg-opacity-10 mistake-made': displayError,
                'bg-white bg-opacity-0': !displayError,
              }"
            >
              <line x1="50%" y1="0" x2="50%" y2="100%" stroke="#eee" />
              <line x1="0" y1="50%" x2="100%" y2="50%" stroke="#eee" />
            </svg>
          </div>
        </div>
        <div class="flex justify-center items-center gap-2 my-2 text-xs">
          <div class="flex justify-center items-center gap-2 flex-grow">
            <span>{{ curStroke }} / {{ nbStrokes }}</span>
            <div
              class="text-red-500 flex items-center justify-center gap-1"
              v-if="nbMistakes > 0"
            >
              <FluentCalligraphyPenError20Filled />
              {{ nbMistakes }}
            </div>
            <div
              class="flex rounded-full overflow-hidden text-xs"
              v-if="
                currentWord &&
                currentWord.hanzi &&
                stats.hanzi[currentWord.hanzi[currentPos]]
              "
            >
              <div
                class="bg-sky-200 px-2 py-[1px] flex gap-1 items-center justify-center text-sky-900"
              >
                <div><SolarCupStarLinear class="h-4" /></div>
                <div>
                  {{ stats.hanzi[currentWord.hanzi[currentPos]].grade }}%
                </div>
              </div>
              <div
                class="bg-sky-800 px-2 py-[1px] flex gap-1 items-center justify-center text-white"
                v-if="stats.hanzi[currentWord.hanzi[currentPos]].grade_blind"
              >
                <div><FaSolidEyeSlash class="h-3" /></div>
                <div>
                  {{ stats.hanzi[currentWord.hanzi[currentPos]].grade_blind }}%
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="z-10 relative">
          <div
            class="flex justify-center items-center gap-2 p-2 bg-gradient-to-r from-cyan-100 to-blue-100 shadow-lg mb-3"
          >
            <div class="flex-grow">
              <p class="font-bold text-left">Translations</p>
            </div>
            <div class="shrink-0">
              <div
                class="rounded px-1 py-0 text-sm bg-sky-600 text-sky-100 cursor-pointer"
              >
                HSK {{ currentWord?.level }}
              </div>
            </div>
          </div>
          <p
            class="text-base text-left px-4"
            v-html="currentWord?.translations.join('<br />')"
          ></p>
          <p
            class="font-bold text-left mt-3 mb-3 p-2 bg-gradient-to-r from-cyan-100 to-blue-100 shadow-lg"
            v-if="otherWords.length > 0"
          >
            Other words with this hanzi
          </p>
          <SuggestWord
            class="pr-4"
            v-for="ow in otherWords"
            :word="ow"
            @click="setWord(ow)"
            :options="options"
            :current-char="currentWord.hanzi[currentPos]"
            pinyin
          />
        </div>
      </div>
    </Swipe>

    <div
      class="w-full bg-gradient-to-r from-cyan-500 to-blue-500 flex text-white text-sm shrink-0 z-40 relative bottom-menu fixed"
    >
      <OptionToggle v-model="options.showChar">
        <FaSolidEyeSlash class="w-6 h-6" v-if="options.showChar" />
        <FaSolidEye class="w-6 h-6" v-else />
      </OptionToggle>
      <OptionToggle v-model="options.repeat">
        <MingcuteRepeatFill class="w-6 h-6" />
      </OptionToggle>
      <OptionToggle v-model="options.sound">
        <IconoirSoundOffSolid class="w-6 h-6" v-if="options.sound" />
        <IconoirSoundLowSolid class="w-6 h-6" v-else />
      </OptionToggle>
      <div class="flex-grow"></div>
      <OptionToggle v-model="openSearch" button>
        <IonSearch class="w-6 h-6" />
      </OptionToggle>
      <OptionToggle v-model="openSettings" button>
        <IcSharpSettings class="w-6 h-6" />
      </OptionToggle>
    </div>
    <div
      class="fixed transition-all duration-400 z-30 w-full max-w-screen-md h-full"
      :class="{
        '-bottom-full': !openSettings,
        'bottom-11': openSettings,
      }"
    >
      <div
        class="absolute bg-gray-500 bottom-0 w-full max-w-screen-md h-full duration-1000"
        :class="{
          'bg-opacity-0': !openSettings,
          'bg-opacity-50': openSettings,
        }"
        @click="openSettings = false"
      ></div>
      <div
        class="bg-gradient-to-r from-cyan-100 to-sky-100 py-2 text-sky-900 text-sm absolute bottom-0 transition-all duration-400 z-30 w-full max-w-screen-md"
        style="
          box-shadow: 0 -10px 15px 3px rgb(0 0 0 / 0.1),
            0 -4px 6px 4px rgb(0 0 0 / 0.1);
        "
      >
        <div class="w-full flex flex-col">
          <p
            class="font-bold text-left px-2 mb-1 py-1"
            v-if="otherWords.length > 0"
          >
            Lists
          </p>
          <div
            v-for="(l, i) in lists"
            class="py-2"
            :class="{ 'bg-sky-400 bg-opacity-20': i % 2 === 1 }"
          >
            <HanziList
              :id="l.id"
              :list="l"
              :options="options"
              @select="selectCategory(l.id)"
              @select-hanzi="(w) => setWord(w)"
              @remove="openRemoveList(l.id)"
              @add-to-list="addToList"
              :selected="options.categories.includes(l.id)"
            />
            <Modal v-model="openRemove">
              <p class="text-left pt-4">
                Are you sure that you want to remove this list ? This will be
                permanent
              </p>
              <div class="p-2 text-center">
                <div
                  class="rounded bg-red-700 hover:bg-red-500 text-white px-3 py-2 inline-block"
                  @click="removeList"
                >
                  Delete
                </div>
              </div>
            </Modal>
          </div>
          <div class="p-2">
            <div
              class="rounded bg-sky-700 hover:bg-sky-500 text-white px-3 py-2 inline-block"
              @click="openCreateList"
            >
              Create a list
            </div>
            <Modal v-model="openCreate">
              <p class="text-left">Name of the list</p>
              <Input v-model="listName" />
              <div class="p-2 text-center">
                <div
                  class="rounded bg-sky-700 hover:bg-sky-500 text-white px-3 py-2 inline-block"
                  @click="createList"
                >
                  Create
                </div>
              </div>
            </Modal>
          </div>
        </div>
      </div>
      <div
        class="fixed transition-all duration-400 z-30 w-full max-w-screen-md h-full"
        :class="{
          '-bottom-full': !openSearch,
          'bottom-11': openSearch,
        }"
      >
        <div
          class="absolute bg-gray-500 bottom-0 w-full max-w-screen-md h-full duration-1000"
          :class="{
            'bg-opacity-0': !openSearch,
            'bg-opacity-50': openSearch,
          }"
          @click="openSearch = false"
        ></div>
        <div
          class="bg-gradient-to-r from-cyan-100 to-sky-100 py-2 text-sky-900 text-sm absolute bottom-0 transition-all duration-400 z-30 w-full max-w-screen-md"
          style="
            box-shadow: 0 -10px 15px 3px rgb(0 0 0 / 0.1),
              0 -4px 6px 4px rgb(0 0 0 / 0.1);
          "
        >
          <div class="w-full flex flex-col px-3">
            Search a word or hanzi
            <Input
              v-model="search"
              class="my-2"
              placeholder="Hanzi, pinyin ou traduction"
            />
            <div class="max-h-96 overflow-y-scroll">
              <SuggestWord
                class="pr-2"
                v-for="ow in searchResult"
                :word="ow"
                @click="setWord(ow)"
                :options="options"
                pinyin
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script setup>
import { computed, watch } from "vue";
import hsk from "./assets/db/hsk.json";
import HanziWriter from "hanzi-writer";
import FluentCalligraphyPenError20Filled from "~icons/fluent/calligraphy-pen-error-20-filled";
import FluentSquareHint16Filled from "~icons/fluent/square-hint-16-filled";
import IconoirSoundOffSolid from "~icons/iconoir/sound-off-solid";
import IconoirSoundLowSolid from "~icons/iconoir/sound-low-solid";
import MingcuteRepeatFill from "~icons/mingcute/repeat-fill";
import IcSharpSettings from "~icons/ic/sharp-settings";
import FaSolidEyeSlash from "~icons/fa-solid/eye-slash";
import FaSolidEye from "~icons/fa-solid/eye";
import OptionToggle from "../components/OptionToggle.vue";
import CiListAdd from "~icons/ci/list-add";
import ZondiconsAddOutline from "~icons/zondicons/add-outline";
import IonSearch from "~icons/ion/search";
import SolarCupStarLinear from "~icons/solar/cup-star-linear";

const stats = useStats();

const previous = ref([]);
const currentWord = ref();
const quiz = ref();
const currentPos = ref(0);
const openSettings = ref(false);
const openAdd = ref(false);
const openSearch = ref(false);
const openCreate = ref(false);
const listName = ref("");
const openCreateList = () => {
  openCreate.value = true;
  listName.value = "My list";
};
const createList = () => {
  options.lists.push({
    name: listName.value,
    id: Math.random().toString(36).slice(2, 7),
    list: [],
    manual: true,
  });
  openCreate.value = false;
};

const addToList = ({ id, list }) => {
  let lst = options.lists.find((l) => l.id === id);
  if (lst) {
    list.forEach((w) => {
      let idx = lst.list.findIndex((al) => w.id == al.id);
      if (idx == -1) {
        lst.list.push(w);
      }
    });
  }
};

const addCurrentToList = (list) => {
  addToList({ id: list.id, list: [currentWord.value] });
  openAdd.value = false;
};

const currentListToRemove = ref(null);
const openRemove = ref(false);
const openRemoveList = (id) => {
  currentListToRemove.value = id;
  openRemove.value = true;
};
const removeList = () => {
  let idx = options.lists.findIndex((l) => l.id === currentListToRemove.value);
  if (idx > -1) {
    options.lists.splice(idx, 1);
  }
  openRemove.value = false;
};

const options = reactive({
  categories: ["hsk-" + 1],
  lists: [],
  showChar: true,
  repeat: false,
  sound: true,
});

watch(
  () => options.showChar,
  (n) => {
    if (!writer.value) return;
    if (n) {
      writer.value.showOutline();
    } else {
      writer.value.hideOutline();
    }
  }
);

const selectCategory = (cat) => {
  if (options.categories.includes(cat)) {
    let idx = options.categories.indexOf(cat);
    options.categories.splice(idx, 1);
  } else {
    options.categories.push(cat);
  }
  if (options.categories.length === 0) {
    options.categories.push("hsk-" + 1);
  }
};

const wordParts = computed(() => {
  if (currentWord.value && currentWord.value.hanzi) {
    let pinyinspl = currentWord.value.pinyin.split(" ");
    return currentWord.value.hanzi.split("").map((c, i) => ({
      hanzi: c,
      pinyin: pinyinspl.length > i ? pinyinspl[i] : "",
    }));
  }
  return [];
});

const lists = computed(() => {
  let res = [];
  res.push(
    ...[1, 2, 3, 4, 5, 6].map((i) => ({
      id: "hsk-" + i,
      name: "HSK " + i,
      list: hsk.filter((c) => i == c.level),
    }))
  );
  res.push(...options.lists);
  return res;
});

const currentList = computed(() => {
  return lists.value
    .filter((l) => options.categories.includes(l.id))
    .flatMap((l) => l.list);
});

const otherWords = computed(() => {
  if (currentWord.value) {
    return hsk.filter(
      (c) =>
        c.hanzi != currentWord.value.hanzi &&
        c.hanzi.includes(currentWord.value.hanzi.charAt(currentPos.value))
    );
  } else {
    return [];
  }
});

const random = () => {
  previous.value.push(currentWord.value);
  let idx = Math.floor(Math.random() * currentList.value.length);
  currentWord.value = currentList.value[idx];
  currentPos.value = 0;
};

const setWord = (ow) => {
  previous.value.push(currentWord.value);
  currentWord.value = ow;
  currentPos.value = 0;
  openSettings.value = false;
};

watch(
  () => options,
  (n) => {
    const prefsstr = localStorage["hzq_prefs"],
      prefs = prefsstr ? JSON.parse(prefsstr) : {};
    Object.assign(prefs, n);
    localStorage["hzq_prefs"] = JSON.stringify(prefs);
  },
  { deep: true }
);

onMounted(() => {
  const prefsstr = localStorage["hzq_prefs"],
    prefs = prefsstr ? JSON.parse(prefsstr) : {};
  Object.assign(options, prefs);
  if (options.categories) {
    options.categories = options.categories.filter((cat) => {
      if (typeof cat === "number") return false;
      return true;
    });
    if (options.categories.length === 0) {
      options.categories.push("hsk-" + 1);
    }
  }
  random();
});

const writer = ref();
const curStroke = ref(0),
  nbStrokes = ref(),
  nbMistakes = ref(0);
const reloadInc = ref(1);
const displayError = ref(false);
watch(
  () => [quiz.value, currentWord.value, currentPos.value, reloadInc.value],
  async ([el, w, pos, rinc]) => {
    if (el && w && rinc > 0) {
      if (!writer.value) {
        writer.value = HanziWriter.create(el, w.hanzi[pos], {
          showCharacter: false,
          showHintAfterMisses: 3,
          drawingWidth: 50,
          //drawingColor: "#0c4a6e",
          leniency: 1,
        });
      } else {
        writer.value.setCharacter(w.hanzi[pos]);
      }
      writer.value.updateColor("strokeColor", "#333");
      writer.value.updateColor("radicalColor", "#333");
      let res = await writer.value.quiz({
        onMistake: function (strokeData) {
          nbMistakes.value++;
          displayError.value = true;
          setTimeout(() => {
            displayError.value = false;
          }, 300);
        },
        onCorrectStroke: function (strokeData) {
          curStroke.value++;
        },
        onComplete: function (summaryData) {
          stats.finishHanzi(w.hanzi[pos], nbMistakes.value, !options.showChar);
          //highlight
          writer.value.updateColor("strokeColor", "#0c4a6e");
          writer.value.updateColor("radicalColor", "#0c4a6e");
          setTimeout(() => {
            if (currentPos.value < currentWord.value.hanzi.length - 1) {
              currentPos.value++;
            } else {
              if (!options.repeat) {
                random();
              } else {
                currentPos.value = 0;
                reloadInc.value++; // to be sure that char will be reloaded
              }
            }
          }, 400);
        },
      });

      nbStrokes.value = writer.value._character?.strokes?.length || 0;
      curStroke.value = 0;
      nbMistakes.value = 0;

      if (options.sound) {
        const msg = new SpeechSynthesisUtterance();
        msg.text = w.hanzi;
        msg.lang = "zh";
        window.speechSynthesis.speak(msg);
      }
    }
  },
  { immediate: true }
);

const onSwipeLeft = ({ start, end }) => {
  if (start.target == quiz.value || quiz.value.contains(start.target)) return;
  random();
};
const onSwipeRight = ({ start, end }) => {
  if (start.target == quiz.value || quiz.value.contains(start.target)) return;
  if (previous.value.length > 1) {
    currentWord.value = previous.value.pop();
  }
};

function debounce(func, delay) {
  let timeoutId;
  return function (...args) {
    clearTimeout(timeoutId);
    timeoutId = setTimeout(() => {
      func.apply(this, args);
    }, delay);
  };
}

const useDebouncedComputed = (value, fn, delay = 500) => {
  const compValue = ref(null);
  const debouncedValue = computed(() => {
    return compValue.value;
  });

  watch(
    () => value.value,
    debounce((newValue) => {
      compValue.value = fn();
    }, delay),
    { immediate: true }
  );

  return debouncedValue;
};

const search = ref("");
const searchResult = useDebouncedComputed(search, () => {
  console.log("search");
  if (search.value && search.value.length >= 2) {
    let s = search.value
      .trim()
      .normalize("NFD")
      .replace(/[\u0300-\u036f]/g, "")
      .toLowerCase();
    return hsk.filter(
      (c) =>
        c.hanzi.indexOf(s) >= 0 ||
        c.pinyin
          .normalize("NFD")
          .replace(/[\u0300-\u036f]/g, "")
          .indexOf(s) >= 0 ||
        c.translations.find(
          (t) =>
            t
              .normalize("NFD")
              .replace(/[\u0300-\u036f]/g, "")
              .toLowerCase()
              .indexOf(s) >= 0
        ) != null
    );
  } else {
    return [];
  }
});
</script>
<style>
body {
  @apply bg-gray-100;
}
.quiz-container svg {
  margin: auto;
  position: relative;
}
.quiz-container svg::after {
  content: "";
  border-bottom: 4px solid #eeeeee;
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateX(-50%);
}
.mistake-made {
  animation: shake 0.075s infinite alternate ease;
}
@keyframes shake {
  0% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(10px);
  }
}
.bottom-menu {
  padding-bottom: env(safe-area-inset-bottom);
}
</style>
