<template>
  <div
    class="w-full min-h-[100vh] flex items-center justify-center bg-gradient-to-r from-cyan-100 to-blue-100"
  >
    <div class="text-sky-800 text-center text-4xl">
      <div class="text-6xl text-sky-900 mb-4">我</div>
      Hanzi Quest
    </div>
  </div>
</template>
<script setup></script>
<style scoped></style>
