<template>
  <div>
    <div
      class="w-full flex items-center justify-center bg-gradient-to-r from-cyan-100 to-blue-100 text-sky-800 gap-2 px-4 py-2"
    >
      <div class="text-xl text-sky-900">我</div>
      <div class="flex-grow">Hanzi Quest</div>
    </div>
    <div class="p-4">
      <h1>Privacy Policy</h1>
      <p><strong>Effective Date</strong>: 14/10/2024</p>

      <p>
        Thank you for using <strong>Hanzi Quest</strong>. Your privacy is
        important to us. This Privacy Policy explains how we collect, use, and
        share information when you use our app.
      </p>

      <h2>1. Information We Collect</h2>
      <p>
        <strong>Hanzi Quest</strong> collects the following types of
        information:
      </p>
      <ul>
        <li>
          <strong>Google Account Information</strong>: When you connect to the
          app using Google Sign-In, we collect your Google account information
          (such as your email address and profile information) for the purpose
          of creating and managing your account.
        </li>
        <li>
          <strong>Learning Progress Data</strong>: The app stores information
          about your learning progress, such as lists of Hanzi you are studying
          and your performance statistics (e.g., completion rates, streaks, and
          accuracy).
        </li>
      </ul>

      <h2>2. How We Use Your Information</h2>
      <p>We use the collected data to:</p>
      <ul>
        <li>
          Provide and personalize the app’s features, including tracking your
          progress and offering tailored learning recommendations.
        </li>
        <li>
          Facilitate user login through Google Sign-In for a streamlined user
          experience.
        </li>
        <li>
          Improve the overall functionality of the app based on learning
          analytics.
        </li>
      </ul>

      <h2>3. Data Storage and Security</h2>
      <p>
        Your data is securely stored on our servers, and we take reasonable
        steps to protect it from unauthorized access, disclosure, or alteration.
        We use industry-standard encryption and security measures to safeguard
        your personal information.
      </p>
      <p>
        The information collected through the app (learning progress and hanzi
        lists) is associated with your account and can only be accessed by you.
      </p>

      <h2>4. Sharing Your Information</h2>
      <p>
        We do not share your personal data with third parties, except in the
        following situations:
      </p>
      <ul>
        <li>With your consent.</li>
        <li>If required by law, to comply with legal obligations.</li>
      </ul>

      <h2>5. Your Rights</h2>
      <p>You have the right to:</p>
      <ul>
        <li>
          Access, update, or delete your personal data. You can contact us to
          request these actions regarding your learning data or account.
        </li>
        <li>
          Disconnect your Google account from the app at any time, which will
          stop further collection of account information.
        </li>
      </ul>

      <h2>6. Third-Party Services</h2>
      <p>
        <strong>Google Sign-In</strong> is the third-party service integrated
        into <strong>Hanzi Quest</strong>. By using this service, you agree to
        Google’s privacy policy. We recommend reviewing their policy for more
        details:
        <a href="https://policies.google.com/privacy" target="_blank"
          >Google Privacy Policy</a
        >.
      </p>

      <h2>7. Changes to This Privacy Policy</h2>
      <p>
        We may update this Privacy Policy from time to time. When we make
        changes, we will notify you by updating the "Effective Date" at the top
        of this policy.
      </p>

      <h2>8. Contact Us</h2>
      <p>
        If you have any questions about this Privacy Policy or your data, feel
        free to contact us at:
      </p>
      <ul>
        <li><strong>Email</strong>: pl.duhoux@gmail.com</li>
        <li>
          <strong>Address</strong>: 9 rue André Restes, 31140 Aucamville, France
        </li>
      </ul>
    </div>
  </div>
</template>
<style scoped>
h1,
h2 {
  margin-bottom: 5px;
  margin-top: 10px;
  font-weight: bold;
  font-size: 16pt;
}
</style>
