<template>
  <div>
    <div
      class="w-full flex items-center justify-center bg-gradient-to-r from-cyan-100 to-blue-100 text-sky-800 gap-2 px-4 py-2"
    >
      <div class="text-xl text-sky-900">我</div>
      <div class="flex-grow">Hanzi Quest</div>
    </div>
    <div class="p-4">
      <h1>Terms of Service</h1>
      <p><strong>Effective Date</strong>: 14/10/2024</p>

      <p>
        Welcome to <strong>Hanzi Quest</strong>. By accessing or using our app,
        you agree to these Terms of Service (the "Terms"). Please read them
        carefully before using the app.
      </p>

      <h2>1. Acceptance of Terms</h2>
      <p>
        By accessing or using <strong>Hanzi Quest</strong>, you agree to comply
        with and be bound by these Terms, as well as our Privacy Policy. If you
        do not agree with any part of the Terms, please do not use the app.
      </p>

      <h2>2. Description of Service</h2>
      <p>
        <strong>Hanzi Quest</strong> is an educational app designed to help
        users learn how to draw Hanzi characters and improve their understanding
        of the Chinese language. The app can be accessed on Android devices, and
        users can connect via Google Sign-In for account creation and
        management.
      </p>

      <h2>3. Freemium and Subscription Model</h2>
      <p>
        <strong>Hanzi Quest</strong> offers a <strong>freemium</strong> model
        with the following usage limits for free users:
      </p>
      <ul>
        <li>
          Free users can use the app for
          <strong>up to 15 minutes per day</strong>. The time limit is based on
          the total time spent on the app each day.
        </li>
        <li>
          Free users can create and use <strong>one list of Hanzi</strong> for
          studying.
        </li>
      </ul>
      <p>
        To unlock unlimited access, users can subscribe to the
        <strong>premium plan</strong> which offers the following benefits:
      </p>
      <ul>
        <li><strong>Unlimited usage time per day</strong>.</li>
        <li><strong>Unlimited lists of Hanzi</strong>.</li>
      </ul>

      <h2>4. Subscription Pricing</h2>
      <p>
        Users can subscribe to the premium version of
        <strong>Hanzi Quest</strong> under the following pricing options:
      </p>
      <ul>
        <li><strong>Monthly Subscription</strong>: $2.99 USD per month.</li>
        <li><strong>Annual Subscription</strong>: $29.99 USD per year.</li>
      </ul>
      <p>
        Prices are subject to change, and any changes will be communicated to
        you in advance.
      </p>

      <h2>5. Subscription Management</h2>
      <p>
        Subscriptions are billed automatically at the end of each billing period
        (monthly or annually) unless canceled. You can manage or cancel your
        subscription at any time through your Google Play account settings. If
        you cancel your subscription, you will retain access to premium features
        until the end of the current billing cycle.
      </p>

      <h2>6. Free Trial (If applicable)</h2>
      <p>
        <strong>Hanzi Quest</strong> may offer a free trial for new subscribers.
        The free trial allows access to premium features for a limited period.
        Once the free trial expires, you will be automatically billed unless you
        cancel the subscription before the trial ends.
      </p>

      <h2>7. Refunds</h2>
      <p>
        Refunds are not available for partial billing periods or unused time. If
        you experience any issues with your subscription or need assistance, you
        can contact us for support.
      </p>

      <h2>8. User Conduct</h2>
      <p>When using <strong>Hanzi Quest</strong>, you agree to:</p>
      <ul>
        <li>
          Use the app only for lawful purposes and in accordance with these
          Terms.
        </li>
        <li>
          Not engage in any behavior that may disrupt or interfere with the
          functionality of the app, including any attempts to access or tamper
          with the app's code or servers.
        </li>
      </ul>

      <h2>9. Intellectual Property</h2>
      <p>
        All content and materials in the app, including text, graphics, logos,
        and software, are the property of <strong>Hanzi Quest</strong> and are
        protected by copyright, trademark, and other intellectual property laws.
        You may not copy, modify, distribute, or otherwise use any part of the
        app without express written permission from us.
      </p>

      <h2>10. Changes to the Terms</h2>
      <p>
        We reserve the right to update or modify these Terms at any time. If we
        make significant changes, we will notify you through the app or via
        email. Continued use of the app after such changes constitutes your
        acceptance of the new Terms.
      </p>

      <h2>11. Limitation of Liability</h2>
      <p>
        <strong>Hanzi Quest</strong> is provided on an "as is" and "as
        available" basis. We do not guarantee the accuracy, completeness, or
        reliability of the app's content or features. To the fullest extent
        permitted by law, we disclaim all warranties, whether express or
        implied, including, but not limited to, implied warranties of
        merchantability, fitness for a particular purpose, and non-infringement.
      </p>
      <p>
        In no event shall we be liable for any indirect, incidental, special, or
        consequential damages arising out of your use or inability to use the
        app.
      </p>

      <h2>12. Governing Law</h2>
      <p>
        These Terms shall be governed by and construed in accordance with the
        laws of France, without regard to its conflict of law provisions.
      </p>

      <h2>13. Contact Us</h2>
      <p>
        If you have any questions or concerns about these Terms, please contact
        us at:
      </p>
      <ul>
        <li><strong>Email</strong>: pl.duhoux@gmail.com</li>
        <li>
          <strong>Address</strong>: 9 rue André Restes, 31140 Aucamville, France
        </li>
      </ul>
    </div>
  </div>
</template>
<style scoped>
h1,
h2 {
  margin-bottom: 5px;
  margin-top: 10px;
  font-weight: bold;
  font-size: 16pt;
}
</style>
